{% trans_default_domain 'FOSUserBundle' %}

<div class="wrapper">
    <div>
        <div>

            {{ render(controller('WebsiteFrontendBundle:Pages:getLangReg', {'req':app.request,'type':'Desktop'} ) ) }}

            <div>
                <a href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">
                    <img src="/img/logo.svg" alt="logo"/>
                    <div>
                        <div>Nika</div>
                    </div>
                </a>
            </div>
            <div>
                <div>
                    <div>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</div>
                    <div>
                        <a class="btn" href="{{ path('fos_user_security_login') }}">Кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

