<div class="wrapper">
    <div>
        <div>

            {{ render(controller('WebsiteFrontendBundle:Pages:getLangReg', {'req':app.request,'type':'Desktop'} ) ) }}
            <div>
                <a class="btn" href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">Home</a>
            </div>

            <div>
                <a href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">
                    <img class="logo__img" src="/FrontendAssets/guest/img/logo.svg" alt="logo"/>
                    <div>
                        <div>Nika</div>
                    </div>
                </a>
            </div>

            <div data-payload="1">

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'padding-4 bg-lightgray border-rounded-2 shadow'}}) }}
                {% if app.request.cookies.get('websitecookie')!=null %}
                    <div>
                        <span>{{ 'registration.upliner'|trans({}, 'messages') }}:{% if app.request.cookies.get('websitecookie')!=null %} {{ app.request.cookies.get('websitecookie') }}{% else %} -{{ 'registry.none'|trans({}, 'messages') }}-{% endif %}</span>
                    </div>
                {% endif %}
                <div>
                    <label for="signup_login">{{ 'registration.username'|trans({}, 'messages') }}</label>
                    {{ form_widget(form.username) }}
                    <div style="color:red">
                        {{ form_errors (form.username) }}
                    </div>
                </div>
                <div>
                    <label for="signup_email">Email</label>
                    {{ form_widget(form.email) }}
                    <div style="color:red">
                        {{ form_errors (form.email) }}
                    </div>
                </div>
                <div>
                    <label for="signup_password">{{ 'registration.password'|trans({}, 'messages') }}</label>
                    {{ form_widget (form.plainPassword.first) }}
                    <div style="color:red">
                        {{ form_errors (form.plainPassword.first, {'attr': {'class': 'task_field'}}) }}
                    </div>
                </div>
                <div>
                    <label for="signup_password_repeat">{{ 'registration.password_repeat'|trans({}, 'messages') }}</label>
                    {{ form_widget (form.plainPassword.second) }}
                </div>

                <div>
                    <div>{{ 'registration.quest_account'|trans({}, 'messages') }}
                        <a href="{{ path('fos_user_security_login',{'_locale': app.request.getLocale() }) }}">Войти</a>
                    </div>
                    {{ form_widget(form.send) }}
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>