{% extends 'WebsiteAdminBundle:Base:new_edit.html.twig' %}

{% block box %}
    {% if edit_form is defined %}
        {% set form =edit_form %}
    {% endif %}
    {{ form_start( form,
        { 'method': 'POST',
            'attr':{'class': 'form-horizontal', 'id':'req_form'},
            'action': (entity.id)
            ? path('admin_reviews_update', { 'id': entity.id })
            : path('admin_reviews_create')
        }

    ) }}

    {% if entity.id %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}
    {{ form_widget(form._token) }}

    <div class="box-body">

        <div class="form-group">
            {{ form_label(form.userFront) }}
            <div class="col-sm-4 select2-container--default">
                {{ form_widget (form.userFront) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.type) }}
            <div class="col-sm-4">
                {{ form_widget (form.type) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            <div class="col-sm-4 select2-container--default">
                {{ form_widget (form.description) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.videoUrl) }}
            <div class="col-sm-4">
                {{ form_widget (form.videoUrl) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.status) }}
            <div class="col-sm-4 select2-container--default">
                {{ form_widget (form.status) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.dateCreate) }}
            <div class="col-sm-1">
                {{ form_widget (form.dateCreate) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Действия</label>
            <div class="col-sm-4 action">
                {{ form_widget (form.send) }}
                <a class="btn btn-danger col-sm-1" href="{{ path('admin_reviews') }}">Отмена</a>
            </div>

        </div>

    </div>

    {{ form_end(form) }}

{% endblock box %}
