{% extends 'WebsiteAdminBundle:Base:index.html.twig' %}

{% block titleList %}Отзывы{% endblock %}

{% block box %}

    <div class="box-header">
        <a class="btn btn-sm btn-primary" title="Добавить" href="{{ path('admin_reviews_new') }}">
            <span class="glyphicon glyphicon-plus"></span>Добавить
        </a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="tabBlock" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Дата</th>
                <th>От кого</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}

                <tr>
                    <td>{{ entity.dateCreate|date("d-m-Y") }}</td>
                    <td>$ {{ entity.userFront.username }}</td>
                    <td>
                        {% if entity.type=='txt' %}
                            Текст
                        {% elseif entity.type=='ytb' %}
                            Видео
                        {% else %}
                            Не указано
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.status ==false %}
                            <span class="label label-danger">Не подтвержден</span>
                        {% else %}
                            <span class="label label-success">Активен</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary" title="Просмотр"
                           href="{{ path('admin_reviews_show', { 'id': entity.id }) }}">
                            <i class="fa fa-eye"></i> Просмотр
                        </a>
                        <a class="btn btn-info" title="Редактировать"
                           href="{{ path('admin_reviews_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span> Редактировать
                        </a>
                    </td>
                </tr>

            {% endfor %}

            <tfoot>
            <tr>
                <th>Дата</th>
                <th>От кого</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </tfoot>
        </table>

    </div><!-- /.box-body -->

{% endblock %}