{% extends 'WebsiteAdminBundle:Base:show.html.twig' %}

{% block titleShow %}{{ entity.userFront.username }}{% endblock %}

{% block box %}
    <table class="table">
        <tr>
            <th>Пользователь:</th>
            <td>{{ entity.userFront.username }}</td>
        </tr>
        <tr>
            <th>Дата:</th>
            <td>{{ entity.dateCreate|date("d-m-Y") }}</td>
        </tr>
        <tr>
            <th>Контент:</th>
            <td>
                {% if entity.type=='txt' %}
                    {{ entity.description }}
                {% elseif entity.type=='ytb'  or entity.description|length < 18 %}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ entity.videoUrl }}"
                            frameborder="0" allowfullscreen></iframe>
                {% else %}

                    {{ entity.description }}

                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Статус:</th>
            <td>
                {% if entity.status ==false %}
                    <span class="label label-danger">Не подтвержден</span>
                {% else %}
                    <span class="label label-success">Активен</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Действия:</th>
            <td>
                <a class="btn btn-primary" title="Вернуться к списку" href="{{ path('admin_reviews') }}">
                    <span class="glyphicon glyphicon-arrow-left"></span> Вернуться
                </a>
                <a class="btn btn-info" title="Редактировать"
                   href="{{ path('admin_reviews_edit',{'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> Редактировать
                </a>
                <form class="btn" action="{{ path('admin_reviews_delete',{'id': entity.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-ban-circle"></span>
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    </table>

{% endblock box %}
