{% extends 'WebsiteAdminBundle:Base:new_edit.html.twig' %}

{% block box %}
    {% if edit_form is defined %}
        {% set form =edit_form %}
    {% endif %}

    {{ form_start( form,
        { 'method': 'POST',
            'attr':{'class': 'form-horizontal', 'id':'req_form'},
            'action': (entity.id)
            ? path('admin_seo_update', { 'id': entity.id })
            : path('admin_seo_create')
        }

    ) }}
    {{ form_row (form._token) }}
    {% if entity.id %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}
    <div class="box-body">
        <div class="form-group">
            {{ form_label(form.lang) }}
            <div class="col-sm-4 select2-container--default">
                {{ form_widget (form.lang) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.url) }}
            <div class="col-sm-4">
                {{ form_widget (form.url) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.metaTitle) }}
            <div class="col-sm-4">
                {{ form_widget (form.metaTitle) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.metaDesc) }}
            <div class="col-sm-4">
                {{ form_widget (form.metaDesc) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.metaKeywords) }}
            <div class="col-sm-4">
                {{ form_widget (form.metaKeywords) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Действия</label>
            <div class="col-sm-4 action">
                {{ form_widget (form.send) }}
                <a class="btn btn-danger col-sm-1" href="{{ path('admin_seo') }}">Отмена</a>
            </div>

        </div>

    </div>

    {{ form_end(form, {'render_rest': false}) }}

{% endblock box %}
