{% extends 'WebsiteAdminBundle:Base:show.html.twig' %}

{% block titleShow %}{{ entity.metaTitle }}{% endblock %}

{% block box %}

    <table class="table">
        {% if entity %}
            <tr>
                <th>Locale:</th>
                <td> {{ entity.locale }}</td>
            </tr>
            <tr>
                <th>URL:</th>
                <td> {{ entity.url }}</td>
            </tr>
            <tr>
                <th>Title:</th>
                <td> {{ entity.metaTitle }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td> {{ entity.metaDesc }}</td>
            </tr>
            <tr>
                <th>Keywords:</th>
                <td> {{ entity.metaKeywords }}</td>
            </tr>
        {% endif %}
        <th>Действия:</th>
        <td>
            <a class="btn btn-primary" title="Вернуться к списку" href="{{ path('admin_seo') }}">
                <span class="glyphicon glyphicon-arrow-left"></span> Вернуться
            </a>
            <a class="btn btn-info" title="Редактировать" href="{{ path('admin_seo_edit',{'id': entity.id }) }}">
                <span class="glyphicon glyphicon-edit"></span> Редактировать
            </a>
            <form class="btn" action="{{ path('admin_seo_delete',{'id': entity.id}) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-ban-circle"></span>
                    Удалить
                </button>
            </form>
        </td>

        </tr>
    </table>

{% endblock box %}
