{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{% if type=='danger' %}danger {% else %}success{% endif %} alert-dismissable fade show alert-outline"
                 data-toggle-delete>
                <button class="close" data-dismiss="alert" aria-label="Close">×</button>
                <strong>Внимание Внимание</strong><br>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% if message is defined %}
    <div class="alert alert-danger alert-dismissable fade show alert-outline">
        <button class="close" data-dismiss="alert" aria-label="Close"></button>
        <strong>{{ 'new.error_is'|trans({}, 'messages') }}</strong><br>
        {{ message }}
    </div>
{% endif %}