{% extends 'WebsiteUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="app-content my-3 my-md-5">
        <div class="side-app">
            <div class="padding-top-4">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-8">

                        {% include 'WebsiteUserBundle:FrontendProfile:info.html.twig'  with {'user': user,'edit_form':edit_form} %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}