{% extends 'WebsiteUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="app-content my-3 my-md-5">
        <div class="side-app">
            <div class="padding-top-4">

                <h1>Edit User</h1>

                <div class="row">
                    <div class="col-lg-5 col-xl-4 flex">
                        <div class="card p-5">
                            <div class="card-title">{{ 'cabinet.profile_show.personal_data'|trans({},'messages') }}</div>
                            <div class="media-list">
                                <div class="media mt-1 pb-2">
                                    <div class="mediaicon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    <div class="media-body ml-5 mt-1">
                                        <h6 class="mediafont text-dark">{{ 'cabinet.profile_show.your_login'|trans({},'messages') }}</h6>
                                        <span class="d-block">{{ user.username }}</span>
                                    </div>
                                </div>
                                <div class="media mt-1 pb-2">
                                    <div class="mediaicon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                                    <div class="media-body ml-5 mt-1">
                                        <h6 class="mediafont text-dark">{{ 'cabinet.profile_show.your_email'|trans({},'messages') }}</h6>
                                        <a class="d-block" href="mailto:{{ user.email }}">{{ user.email }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8 flex">
                        <div class="card">
                            <div class="card-body flex">
                                <div class="table-responsive border padding-x-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}