<!-- Navbar-->
<header>
    <!-- Sidebar toggle button-->
    <!-- Navbar Right Menu-->
    <div>
        <div class="flex">
            <a class="flex" href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">
                <img alt="" src="/img/logo.svg"/>
                <div class="margin-right-3">
                    <div>NIKA</div>
                    <h1>HEADER</h1>
                </div>
            </a>

            <a class="app-sidebar__toggle" aria-label="Hide Sidebar" data-toggle="sidebar"
               href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}"></a>

            <div class="lang relative flex-no-shrink">

                {{ render(controller('WebsiteUserBundle:Profile:getlang', {'req':app.request, 'route':route, 'route_params':route_params} ) ) }}

            </div>
        </div>
    </div>
</header>