<div>
    <form action="{{ path('website_profile_update',{'_locale': app.request.getLocale(),'slug':'info' }) }}"
          method="POST" data-form class="card">

        {{ form_widget(edit_form._token) }}
        <input type="hidden" name="_method" value="PUT"/>

        <div class="card-header">
            <div class="tabs-menu1 width-full">
                <ul class="nav panel-tabs">
                    <li class="margin-right-4">
                        <h3 class="card-title cursor-pointer act-blue {% if app.request.query.get('tab')==false %} active{% endif %}"
                            href="#tab1"
                            data-toggle="tab">{{ 'cabinet.edit_profile.edit_profile'|trans({},'messages') }}</h3>
                    </li>
                    <li class="margin-right-4">
                        <h3 class="card-title cursor-pointer act-blue {% if app.request.query.get('tab')!=false and app.request.query.get('tab')==2 %} active{% endif %}"
                            href="#tab2" data-toggle="tab">{{ 'cabinet.edit_profile.social'|trans({},'messages') }}</h3>
                    </li>
                    <li><a class="card-title act-blue"
                           href="{{ path('fos_user_change_password',{'_locale': app.request.getLocale() }) }}">{{ 'cabinet.edit_profile.reset_pass_title'|trans({},'messages') }}</a>
                    </li>
                </ul>
            </div>
        </div>

        {% include 'WebsiteUserBundle:FrontendProfile:alert.html.twig' %}

        <div class="card-body tab-content">
            <div class="tab-pane animate-fadeIn {% if app.request.query.get('tab')==false %} active{% endif %}"
                 id="tab1">
                <div class="row">

                </div>
            </div>
            <div class="tab-pane animate-fadeIn {% if app.request.query.get('tab')!=false and app.request.query.get('tab')==2 %} active{% endif %}"
                 id="tab2">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary act-bg-darken" type="submit">
                <div class="relative z-1">{{ 'cabinet.edit_profile.btn_save'|trans({},'messages') }}</div>
            </button>
        </div>
    </form>
</div>