{% for lang in langs %}
    {% if lang.locale == curr_lang %}
        <div class="lang__current cursor-pointer flex items-center" title="{{ lang.title }}">
            <img src="/FrontendAssets/frontend-cabinet/img/flag/{{ lang.slug }}.svg" alt="{{ lang.title }}"/>
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6.8" viewBox="0 0 10 6.8">
                <path fill="#FFF" d="M5 6.8l5-3.6V0L5 3.6 0 0v3.2l5 3.6z"></path>
            </svg>
        </div>
    {% endif %}
{% endfor %}

<div class="lang__choose absolute top-full z-2 shadow overflow-hidden hidden animate-fadeInDown">
    <ul class="lang-list list-reset flex flex-wrap margin-y-0">
        {% for lang in langs %}
            {% if lang.locale != curr_lang %}
                <li class="lang-list__item width-25">
                    <a class="lang-list__item-link block"
                       href="{{ path(route, route_params|merge({'_locale' : lang.locale})) }}" title="{{ lang.title }}">
                        <img class="block margin-x-auto" src="/img/flag/{{ lang.slug }}.svg" alt="{{ lang.title }}"/>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>