<form action="{{ path('website_profile_update',{'_locale': app.request.getLocale(),'slug':'pass' }) }}" method="POST"
      data-form>

    {{ form_widget(password_form._token) }}
    <input type="hidden" name="_method" value="PUT"/>

    <div class="row mb-2">
        <div class="col-auto">
            <label class="avatar-label" for="avatar"><span class="avatar brround avatar-xl"
                                                           style="background-image: url(/FrontendAssets/frontend-cabinet/img/faces/male/2.jpg)"></span></label>
            <input class="hidden" type="file" id="avatar" accept="image/*"></div>
        <div
                class="col">
            <h3 class="mb-1">{{ user.username }}</h3>
            <div class="margin-bottom-3">{{ 'new.administrator'|trans({},'messages') }}</div>
            <div class="margin-bottom-3"><a class="d-block" href="mailto:goddessaqua@storm.com"><span
                            class="text-muted">{{ 'cabinet.edit_profile.email'|trans({},'messages') }}: </span>{{ user.email }}
                </a></div>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">{{ 'cabinet.edit_profile.current_pass'|trans({},'messages') }}</label>
        {{ form_widget(password_form.current_password) }}
    </div>
    <div class="form-group">
        <label class="form-label">{{ 'cabinet.edit_profile.new_pass'|trans({},'messages') }}</label>
        {{ form_widget(password_form.plainPassword.first) }}
    </div>
    <div class="form-group">
        <label class="form-label">{{ 'cabinet.edit_profile.repeat_pass'|trans({},'messages') }}</label>
        {{ form_widget(password_form.plainPassword.second) }}
    </div>
    <div class="form-footer">
        <button class="btn btn-primary btn-block act-bg-darken">
            <div class="relative z-1">{{ 'cabinet.edit_profile.btn_save'|trans({},'messages') }}</div>
        </button>
    </div>
</form>