{% if  form_errors(form.current_password)  or form_errors(form.plainPassword.first) %}
    <div class="alert alert-danger alert-dismissable fade show alert-outline">
        <button class="close" data-dismiss="alert" aria-label="Close"></button>
        <strong>Ошибка!</strong><br>
        {{ form_errors(form.current_password) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
{% endif %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password','data-form':'' } }) }}

<div class="form-group mb-4">
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password) }}
</div>
<div class="form-group mb-4">
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
</div>
<div class="form-group mb-4">
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
</div>
<div class="padding-y-4 text-right">
    <button class="btn btn-primary btn-fix"><span class="btn-icon"><i
                    class="la la-fw la-check-circle"></i>Сохранить</span></button>
</div>
{{ form_end(form) }}

<hr>

<div class="form-group padding-top-4 mb-4">
    <div class="flex">
        <label class="ui-switch switch-icon switch-large switch-outline margin-right-4" data-toggle="tooltip"
               title="Выключено">
            <input type="checkbox" disabled {{ user.doubleAuth?'checked':'' }}><span></span>
        </label>
        <div>
            <h5>Двух-этапная авторизация</h5>
            <p>Активирует вход в личный кабинет используя 2х-этапную авторизацию, используя в качестве второй
                авторизации подтверждение через email который вы указали при регистрации.</p>
            <div class="padding-top-4">
                <button class="btn btn-primary btn-fix" type="button" data-dialog-open="auth"
                        onclick="security('Send')">
                    <span class="btn-icon"><i class="la la-fw la-shield"></i>Включить</span>
                </button>
                <button class="btn btn-danger btn-fix" onclick="security('Off')"><span class="btn-icon"><i
                                class="la la-fw la-times-circle"></i>Выключить</span></button>
            </div>
        </div>
    </div>
</div>

{% block dialog %}
    <div class="dialog-box dialog-box_inactive flex justify-center items-center" data-dialog="auth">
        <div class="dialog-box__overlay" data-dialog-close></div>
        <div class="dialog animate-fadeInDown border-rounded-2 overflow-hidden">
            <div class="card">
                <h5 class="heading text-upper">
                    <div class="padding-x-4 padding-y-4">Подтверждение почты</div>
                </h5>
                <div class="padding-x-4 padding-y-4">
                    <p>Активирует вход в личный кабинет используя 2х-этапную авторизацию, используя в качестве второй
                        авторизации подтверждение через email который вы указали при регистрации.</p>
                    <form action="{{ path('website_user_security_form_pin',{'_locale': app.request.getLocale()} ) }}"
                          method="POST" class="padding-top-4" onsubmit="openForm(event)">
                        <div class="form-group mb-4"><label for="authPin">Код</label>
                            <input name="pin" class="form-control" autocomplete="off" type="text" minlength="4"
                                   maxlength="4" placeholder="****" data-dialog-autofocus required id="authPin">
                        </div>
                        <div id="error_frame"></div>
                        <div class="padding-y-4 text-center">
                            <button class="btn btn-secondary margin-right-2" type="button" data-dialog-close>Отмена
                            </button>
                            <button class="btn btn-primary btn-fix"><span class="btn-icon"><i
                                            class="la la-fw la-check-circle"></i>Подтвердить</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


