{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'card','data-form':'' } }) }}

<div class="card-header">
    <div class="tabs-menu1 width-full">
        <ul class="nav panel-tabs">
            <li class="margin-right-4">
                <a class="card-title act-blue" href="{{ path('website_profile_edit',{'slug':'info'}) }}"
                   data-toggle="tab1">{{ 'cabinet.edit_profile.edit_profile'|trans({}, 'messages') }}</a>
            </li>
            <li class="margin-right-4">
                <a class="card-title act-blue" href="{{ path('website_profile_edit',{'slug':'info'}) }}?tab=2"
                   data-toggle="tab2">{{ 'cabinet.edit_profile.social'|trans({}, 'messages') }}</a>
            </li>
            <li><a class="card-title act-blue padding-y-0 padding-x-0 active" href="#"
                   data-toggle="tab">{{ 'cabinet.edit_profile.reset_pass_title'|trans({}, 'messages') }}</a></li>
        </ul>
    </div>
</div>

{% if  form_errors(form.current_password)  or form_errors(form.plainPassword.first) %}
    <div class="alert alert-danger alert-dismissable fade show alert-outline">
        <button class="close" data-dismiss="alert" aria-label="Close"></button>
        <strong>{{ 'new.error'|trans({}, 'messages') }}</strong><br>
        {{ form_errors(form.current_password) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
{% endif %}

<div class="card-body tab-content">
    <div class="tab-pane animate-fadeIn active" id="tab1">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="flex items-center margin-y-1">
                        <div class="font-xl blue"><i class="fa fa-lock"></i></div>
                        <div class="form-label margin-left-2">{{ 'cabinet.edit_profile.current_pass'|trans({}, 'messages') }}</div>
                    </label>
                    {{ form_widget(form.current_password) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="flex items-center margin-y-1">
                        <div class="font-xl blue"><i class="fa fa-key"></i></div>
                        <div class="form-label margin-left-2">{{ 'cabinet.edit_profile.new_pass'|trans({}, 'messages') }}</div>
                    </label>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>
            <div class="col-sm-6 margin-left-auto">
                <div class="form-group">
                    <label class="flex items-center margin-y-1">
                        <div class="font-xl blue"><i class="fa fa-key"></i></div>
                        <div class="form-label margin-left-2">{{ 'new.confirm_pswd'|trans({}, 'messages') }}</div>
                    </label>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer text-right">
    <button class="btn btn-primary act-bg-darken" type="submit">
        <div class="relative z-1">{{ 'cabinet.edit_profile.btn_save'|trans({}, 'messages') }}</div>
    </button>
</div>

{{ form_end(form) }}

{% block dialog %}

{% endblock %}


