{% trans_default_domain 'messages' %}

{% block content %}
    <div class="app-content my-3 my-md-5">
        <div class="side-app">
            <div class="padding-top-4">
                <div class="row row-cards">
                    <div class="col-lg-12">
                        <div class="row">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">


                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">

                        {% for entity in data.news %}

                            <div class="card card-aside flex-grow overflow-hidden">
                                <a class="card-aside-column"
                                   href="{{ path('website_frontend_news_single',{'_locale': app.request.getLocale(),'slug':entity.slug } ) }}"
                                   style="background-image: url('https://cdn1.nika.com/upload/news/{{ entity.photo }}')"></a>
                                <div class="card-body d-flex flex-column">
                                    <h4> {{ entity.title }}</h4>
                                    <div class="news__snippet-text text-muted">{{ entity.description|raw }}</div>
                                    <div class="btn-wrap flex items-end flex-grow pt-3">
                                        <a class="btn btn-primary mt-3 act-bg-darken" style="color: white"
                                           href="{{ path('website_frontend_news_single',{'_locale': app.request.getLocale(),'slug':entity.slug } ) }}">
                                            <div class="relative z-1">
                                                <i class="fa fa-arrow-right"></i>
                                                {{ 'new.learn_more'|trans({},'messages') }}...
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

{% endblock content %}