
    <!DOCTYPE html>
    <html xmlns:https="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{#        <link rel="apple-touch-icon" sizes="180x180" href="/FrontendAssets/favicon/apple-touch-icon.png">#}
{#        <link rel="icon" type="image/png" sizes="32x32" href="/FrontendAssets/favicon/favicon-32x32.png">#}
{#        <link rel="icon" type="image/png" sizes="16x16" href="/FrontendAssets/favicon/favicon-16x16.png">#}
{#        <link rel="manifest" href="/FrontendAssets/favicon/site.webmanifest">#}
{#        <link rel="mask-icon" href="/FrontendAssets/favicon/safari-pinned-tab.svg" color="#4660f7">#}
        <meta name="msapplication-TileColor" content="#4660f7">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:title" content="NIKA" />
        <meta property="og:description" content="====" />
{#        <meta property="og:image" content="https://nika.com/FrontendAssets/guest/img/preview.png" />#}
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="600">

{#        <link rel="stylesheet" href="/FrontendAssets/guest/style/plugin.css">#}
{#        <link rel="stylesheet" href="/FrontendAssets/guest/style/app.css">#}

{#        <link rel="image_src" href="https://nika.com/FrontendAssets/guest/img/preview.png">#}
    </head>

    <body>
    <div class="wrapper">
{#        <div class="auth grid bg-no-repeat bg-center bg-cover" style="background-image: url(/FrontendAssets/guest/img/bg/12.jpg)">#}
            <div class="grid-column-5 grid-column-start-8 padding-4 bg-white-40">
                <div class="padding-top-5">
                    <a class="logo logo_lg flex items-center" href="{{ path ('website_frontend_homepage',{'_locale': 'en' }) }}">
{#                        <img class="logo__img" src="/FrontendAssets/guest/img/logo.svg" alt="logo" />#}
                        <div class="margin-left-2 text-upper text-tight">
                            <div>NIKA</div>
                            <div class="font-black">NIKA NIKA</div>
                        </div>
                    </a>
                </div>
                <div class="padding-top-5 color-white">
                    <span class="error">500</span><span>Internal Server Error</span>
                    <div>Sorry, the page you were looking for could not found.</div>
                </div>
                <div class="padding-top-5">
                    <a class="btn btn_alt flex-no-shrink" href="{{ path("website_frontend_homepage", { '_locale': 'en' }) }}">Home</a>
                </div>
            </div>
        </div>
    </div>
{#    <script src="/FrontendAssets/guest/script/plugin.js"></script>#}
{#    <script src="/FrontendAssets/guest/script/app.js"></script>#}
    </body>

    </html>


