<div class="col-md-3">

    <select name="filter[lang]" class="form-control">
        {% if lang is defined %}
            {% if lang == 'en' %}
                <option value="en">Английский</option>
            {% elseif lang == 'ru' %}
                <option value="ru">Русский</option>
            {% elseif lang == 'zh_CN' %}
                <option value="zh_CN">Китайский</option>
            {% elseif lang == 'es' %}
                <option value="es">Испанский</option>
            {% elseif lang == 'pt' %}
                <option value="pt">Португальский</option>
            {% elseif lang == 'ja' %}
                <option value="ja">Японский</option>
            {% elseif lang == 'pl' %}
                <option value="pl">Польский</option>
            {% elseif lang == 'tr' %}
                <option value="tr">Турецкий</option>
            {% elseif lang == 'ar' %}
                <option value="ar">Арабский</option>
            {% elseif lang == 'de' %}
                <option value="de">Немецкий</option>
            {% elseif lang == 'vi' %}
                <option value="vi">Вьетнамский</option>
            {% elseif lang == 'fr' %}
                <option value="fr">Французский</option>
            {% elseif lang == 'it' %}
                <option value="it">Итальянский</option>
            {% elseif lang == 'he' %}
                <option value="he">Иврит</option>
            {% elseif lang == 'ko' %}
                <option value="ko">Корейский</option>
            {% elseif lang == 'lt' %}
                <option value="lt">Литовский</option>
            {% elseif lang == 'mn' %}
                <option value="mn">Монгольский</option>
            {% elseif lang == 'my' %}
                <option value="my">Малайский</option>
            {% endif %}

        {% endif %}

        <option value="en">Английский</option>
        <option value="ru">Русский</option>
        <option value="zh_CN">Китайский</option>
        <option value="es">Испанский</option>
        <option value="pt">Португальский</option>
        <option value="ja">Японский</option>
        <option value="pl">Польский</option>
        <option value="tr">Турецкий</option>
        <option value="ar">Арабский</option>
        <option value="de">Немецкий</option>
        <option value="vi">Вьетнамский</option>
        <option value="fr">Французский</option>
        <option value="it">Итальянский</option>
        <option value="he">Иврит</option>
        <option value="ko">Корейский</option>
        <option value="lt">Литовский</option>
        <option value="mn">Монгольский</option>
        <option value="my">Малайский</option>

    </select>
</div>


<button
        id="website_user_edit_send"
        class="btn btn-success col-md-2"
        data-theme="advanced"
        name="filter[send]"
        type="submit">Найти
</button>