<section class="nav">
    <div class="col-xs-4" style="padding: 0px">

        <div class="panel box box-primary col-md-3">

            <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="filteracc">
                    Поиск по дате и времени <i class="fa fa-angle-down pull-right"></i>
                </a>
            </h4>

            {#<div class="col-xs-12">#}
            <div class="col-xs-12">
                <input id="admin_user_mass_payment_1" class="form-control pull-righ datepicker" autocomplete="off"
                       required="required" type="text"
                       value="{% if dateStart==NULL %}{% else %}{{ dateStart }}{% endif %}" placeholder="dd-mm-yyyy"
                       data-theme="advanced" required="required" name="mass_payments_filtr_form[dateStart]">
            </div>

            {#<div class="col-xs-1" style=""></div>#}
            <div class="col-xs-6">
                <select name="mass_payments_filtr_form[startHours]" class="form-control">
                    {% for i in 0..23 %}
                        {% if loop.first and startHours!=NULL %}
                            <option value="{{ startHours }}">{{ startHours }}</option>
                        {% else %}
                            <option value="{% if loop.index < 11 %}0{% endif %}{{ i }}">{% if loop.index < 11 %}0{% endif %}{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

            </div>
            <div class="col-md-1">:</div>
            <div class="col-xs-5">
                <select name="mass_payments_filtr_form[startMinutes]" class="form-control">
                    {% if startMinutes!=NULL %}
                        <option value="{{ startMinutes }}">{{ startMinutes }}</option>
                    {% endif %}
                    {% for i in 0..59 %}
                        <option value="{% if loop.index < 11 %}0{% endif %}{{ i }}">{% if loop.index < 11 %}0{% endif %}{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            {#</div>#}
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-5">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <input id="admin_user_mass_payment_2" class="form-control pull-righ datepicker" autocomplete="off"
                           required="required" type="text"
                           value="{% if dateEnd==NULL %}{% else %}{{ dateEnd }}{% endif %}" placeholder="dd-mm-yyyy"
                           data-theme="advanced" required="required" name="mass_payments_filtr_form[dateEnd]">
                </div>

                <div class="col-xs-6">
                    <select name="mass_payments_filtr_form[stopHours]" class="form-control">
                        {% for i in 0..23 %}
                            {% if loop.first and stopHours!=NULL %}
                                <option value="{{ stopHours }}">{{ stopHours }}</option>
                            {% else %}
                                <option value="{% if loop.index < 11 %}0{% endif %}{{ i }}">{% if loop.index < 11 %}0{% endif %}{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1">:</div>
                <div class="col-xs-5">
                    <select name="mass_payments_filtr_form[stopMinutes]" class="form-control">
                        {% if stopMinutes!=NULL %}
                            <option value="{{ stopMinutes }}">{{ stopMinutes }}</option>
                        {% endif %}
                        {% for i in 0..59 %}
                            <option value="{% if loop.index < 11 %}0{% endif %}{{ i }}">{% if loop.index < 11 %}0{% endif %}{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
        </div>


        <button
                id="website_user_edit_send"
                class="form-control btn btn-success col-md-12"
                data-theme="advanced"
                name="mass_payments_filtr_form[send]"
                type="submit" style="margin-top: 15px">Найти
        </button>

        </form>
    </div>
    </div>
</section>