<div class="col-md-4">
    <select name="search_filtr_form[column]" class="form-control">
        {% if column is defined %}
            <option value="{{ column }}">{{ column }}</option>
        {% endif %}
        <option value="username">Username</option>
        <option value="skype">Skype</option>
        <option value="email">Email</option>
        <option value="mobile">Mobile</option>
    </select>
</div>

<div class="col-xs-5">
    <input class="form-control" autocomplete="off" type="text" value="{% if input is defined %}{{ input }}{% endif %}"
           data-theme="advanced" placeholder="Фраза для поиска" required="required" name="search_filtr_form[input]">
</div>

<button
        id="altair_user_edit_send"
        class="btn btn-success col-md-2"
        data-theme="advanced"
        name="search_filtr_form[send]"
        type="submit">Найти
</button>
