{#
/**
 * @file
 * Twitter Bootstrap v3 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * http://getbootstrap.com/components/#pagination
 *
 * @author Pablo Díez <pablodip@gmail.com>
 * @author Jan Sorgalla <jsorgalla@gmail.com>
 * @author Artem Ponomarenko <imenem@inbox.ru>
 * @author Artem Zabelin <artjomzabelin@gmail.com>
 */
#}
{% if is_granted('ROLE_SUPER_ADMIN') %}

    {% if pageCount > 1 %}
        <ul class="pagination">
            {% if first is defined and current != first %}
                <li class="first">
                    <a title="{{ 'new.first_page'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): first})) }}"><span>← </span></a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li>
                    <a rel="prev" title="{{ 'new.privies_page'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><span><</span></a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>Test</span>
                </li>
            {% endif %}

            {% if startPage > 1 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <span>{{ page }}</span>
                    </li>
                {% endif %}

            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="disabled">
                            <span>&hellip;</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}

            {% if next is defined %}
                <li>
                    <a rel="next" title="{{ 'new.next'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): next})) }}"><span>></span></a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>{{ 'new.end'|trans({}, 'messages') }}</span>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li class="last">
                    <a title="{{ 'new.to_last'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): last})) }}"> <span> →</span></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") and 'profile' in app.request.pathInfo %}

    {% if pageCount > 1 %}
        <ul class="pagination margin-y-0">
            {% if first is defined and current != first %}
                <li class="page-item">
                    <a class="page-link" aria-label="Last" title="{{ 'new.first_page'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): first})) }}"><i
                                class="fa fa-angle-double-left"></i></a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" aria-label="Next" rel="prev" title="{{ 'new.back'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i
                                class="fa fa-angle-left"></i></a>
                </li>
            {% else %}
                {#<li class="disabled">#}
                {#<span></span>#}
                {#</li>#}
            {% endif %}

            {% if startPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% endif %}

            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="disabled">
                            <span>&hellip;</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}

            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" rel="next" title="{{ 'new.next'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i
                                class="fa fa-angle-right"></i></a>
                </li>
            {% else %}
                {#<li class="disabled">#}
                {#<span></span>#}
                {#</li>#}
            {% endif %}

            {% if last is defined and current != last %}
                <li class="page-item">
                    <a class="page-link" title="{{ 'new.to_last'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): last})) }}"><i
                                class="fa fa-angle-double-right"></i></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% else %}

    {% if pageCount > 1 %}
        <ul class="pagination flex flex-wrap justify-center no-select">
            {% if first is defined and current != first %}
                <li>
                    <a aria-label="Last" title="{{ 'new.first_page'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): first})) }}">{{ 'new.first_page'|trans({}, 'messages') }}</a>
                </li>
            {% else %}
                <li class="disabled"><span>{{ 'new.first'|trans({}, 'messages') }}</span></li>
                <li class="disabled"><span>{{ 'new.back'|trans({}, 'messages') }}</span></li>
            {% endif %}

            {% if previous is defined %}
                <li>
                    <a aria-label="Next" rel="prev" title="{{ 'new.back'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): previous})) }}">{{ 'new.back'|trans({}, 'messages') }}</a>
                </li>
            {% endif %}

            {% if startPage > 1 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <span>{{ page }}</span>
                    </li>
                {% endif %}

            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="disabled">
                            <span>&hellip;</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}

            {% if next is defined %}
                <li>
                    <a rel="next" title="{{ 'new.next'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'new.next'|trans({}, 'messages') }}</a>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li class="last">
                    <a title="{{ 'new.to_last'|trans({}, 'messages') }}"
                       href="{{ path(route, query|merge({(pageParameterName): last})) }}">{{ 'new.to_last'|trans({}, 'messages') }}</a>
                </li>
            {% else %}
                <li class="disabled"><span>{{ 'new.next'|trans({}, 'messages') }}</span></li>
                <li class="disabled"><span>{{ 'new.to_last'|trans({}, 'messages') }}</span></li>
            {% endif %}
        </ul>
    {% endif %}

{% endif %}
