{% trans_default_domain 'messages' %}

{% block body %}
    <div class="wrapper">
        <div>
            <div>

                {{ render(controller('WebsiteFrontendBundle:Pages:getLangReg', {'req':app.request,'type':'Desktop'} ) ) }}
                <div>
                    <a class="btn"
                       href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">{{ 'registration.btn_home'|trans({}, 'messages') }}</a>
                </div>

                <div>
                    <a href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">
                        <img src="/FrontendAssets/guest/img/logo.svg" alt="logo"/>
                        <div>
                            <div>NIKA</div>
                        </div>
                    </a>
                </div>
                <div>

                    <form action="{{ path("fos_user_security_check") }}" method="post" data-form>
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        {% endif %}
                        <div>
                            <label for="signin_login">{{ 'new.name_or_email'|trans({}, 'messages') }}</label>
                            <input type="text" id="signin_login" minlength="3" required autofocus name="_username"
                                   value="{{ last_username }}">

                        </div>
                        <div>
                            <label for="signin_password">{{ 'login.password'|trans({}, 'messages') }}</label>
                            <input type="password" id="signin_password" name="_password" minlength="3" required>
                        </div>
                        {% if refer==true %}
                            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}"/>
                        {% endif %}
                        <div>
                            <div>
                                <div>У вас нет аккаунта? <a
                                            href="{{ path('fos_user_registration_register',{'_locale': app.request.getLocale() }) }}">{{ 'sign_up'|trans({}, 'messages') }}</a>
                                </div>
                                <div>Забыли пароль? <a
                                            href="{{ path ('fos_user_resetting_request') }}">{{ 'login.recovery_pass'|trans({}, 'messages') }}</a>
                                </div>
                            </div>
                            <button class="btn">Войти</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock body %}
