{% extends 'WebsiteAdminBundle:Base:index.html.twig' %}

{% block titleList %}Дополнительный контент{% endblock %}

{% block box %}

    <div class="box-header">
        <div class="col-md-6">
            <a class="btn btn-primary" title="Добавить" href="{{ path('admin_dopage_new') }}">
                <span class="glyphicon glyphicon-plus"></span>Добавить
            </a>
        </div>
        {#<form class="form-horizontal col-md-6 search_filtr_form" action="{{ path('website_admin_users_search_lang') }}" method="get" name="filter">#}

        {#{% include 'WebsiteAdminBundle:Filters:form_search_lang.html.twig' %}#}

        {#</form>#}

    </div>
    <hr>
    <!-- /.box-header -->
    <div class="box-body">
        {% if (entities != null) %}
            <div class="pages">
                {{ knp_pagination_render(entities) }}
            </div>
        {% endif %}
        <table id="tabBlock" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th>URL</th>
                <th>Язык</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {{ entity.titlePathFirst }}
                    </td>
                    <td>
                        {{ entity.url }}
                    </td>
                    <td>
                        {{ entity.locale }}
                    </td>
                    <td class="center">
                        <a class="btn btn-primary" title="Просмотр"
                           href="{{ path('admin_dopage_show', { 'id': entity.id }) }}">
                            <i class="fa fa-eye"></i> Просмотр
                        </a>
                        <a class="btn btn-info" title="Редактировать"
                           href="{{ path('admin_dopage_edit',{'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span> Редактировать
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Название</th>
                <th>URL</th>
                <th>Язык</th>
                <th>Действия</th>
            </tr>
            </tfoot>
        </table>
        {% if (entities != null) %}
            <div class="pages">
                {{ knp_pagination_render(entities) }}
            </div>
        {% endif %}
    </div><!-- /.box-body -->

{% endblock %}
