{% extends 'WebsiteAdminBundle:Base:show.html.twig' %}

{% block titleShow %}{{ entity.titlePathFirst }}{% endblock %}

{% block box %}

    <table class="table">
        <tr>
            <th>Название (обязательно)</th>
            <td>{{ entity.titlePathFirst }}</td>
        </tr>

        <tr>
            <th>Описание</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>На какой странице отображать (латиница)</th>
            <td>{{ entity.url }}</td>
        </tr>

        <tr>
            <th>Действия:</th>
            <td>
                <a class="btn btn-primary" title="Вернуться к списку" href="{{ path('admin_dopage') }}">
                    <span class="glyphicon glyphicon-arrow-left"></span> Вернуться
                </a>
                <a class="btn btn-info" title="Редактировать" href="{{ path('admin_dopage_edit',{'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> Редактировать
                </a>
                <form class="btn" action="{{ path('admin_dopage_delete',{'id': entity.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-ban-circle"></span>
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    </table>

{% endblock box %}
