{% extends 'WebsiteAdminBundle:Base:new_edit.html.twig' %}

{% block box %}
    {% if edit_form is defined %}
        {% set form =edit_form %}
    {% endif %}

    {{ form_start( form,
        { 'method': 'POST',
            'attr':{'class': 'form-horizontal', 'id':'req_form'},
            'action': (entity.id)
            ? path('admin_lang_update', { 'id': entity.id })
            : path('admin_lang_create')
        }

    ) }}

    {% if entity.id %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}
    {{ form_widget(form._token) }}

    <div class="box-body">

        <div class="form-group">
            {{ form_label(form.title) }}
            <div class="col-sm-8">
                {{ form_widget (form.title) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.slug) }}
            <div class="col-sm-8">
                {{ form_widget (form.slug) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.locale) }}
            <div class="col-sm-8">
                {{ form_widget (form.locale) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.disable) }}
            <div class="col-sm-8">
                {{ form_widget (form.disable) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.con_num) }}
            <div class="col-sm-8">
                {{ form_widget (form.con_num) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Действия</label>
            <div class="col-sm-4 action">
                {{ form_widget (form.send) }}
                <a class="btn btn-danger col-sm-1" href="{{ path('admin_lang') }}">Отмена</a>
            </div>

        </div>

    </div>

    {{ form_end(form) }}

{% endblock box %}
