{% extends 'WebsiteAdminBundle:Base:index.html.twig' %}

{% block titleList %}Языки{% endblock %}

{% block box %}

    <div class="box-header">
        <a class="btn btn-sm btn-primary" title="Добавить" href="{{ path('admin_lang_new') }}">
            <span class="glyphicon glyphicon-plus"></span>Добавить
        </a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="tabBlock" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Язык</th>
                <th>Префикс</th>
                <th>Статус</th>
                <th>Порядковый</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}

                <tr>
                    <td>{{ entity.title }}</td>
                    <td>
                        {{ entity.locale }}
                    </td>
                    <td>
                        {% if entity.disable ==true %}
                            <span class="label label-danger">Отключен</span>
                        {% else %}
                            <span class="label label-success">Активен</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ entity.getConNum() }}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" title="Просмотр"
                           href="{{ path('admin_lang_show', { 'id': entity.id }) }}">
                            <i class="fa fa-eye"></i> Просмотр
                        </a>
                        <a class="btn btn-info" title="Редактировать"
                           href="{{ path('admin_lang_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span> Редактировать
                        </a>
                    </td>
                </tr>

            {% endfor %}

            <tfoot>
            <tr>
                <th>Язык</th>
                <th>Префикс</th>
                <th>Статус</th>
                <th>Порядковый</th>
                <th>Действия</th>
            </tr>
            </tfoot>
        </table>

    </div><!-- /.box-body -->

{% endblock %}