{% extends 'WebsiteAdminBundle:Base:show.html.twig' %}

{% block titleShow %}{{ entity.title }}{% endblock %}

{% block box %}

    <table class="table">
        <tr>
            <th>Язык:</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Префикс:</th>
            <td>{{ entity.locale }}</td>
        </tr>
        <tr>
            <th>Статус:</th>
            <td>
                {% if entity.disable ==true %}
                    <span class="label label-danger">Отключен</span>
                {% else %}
                    <span class="label label-success">Активен</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Порядковый номер:</th>
            <td>{{ entity.getConNum() }}</td>
        </tr>
        <tr>
            <th>Действия:</th>
            <td>
                <a class="btn btn-sm btn-primary" title="Вернуться к списку" href="{{ path('admin_lang') }}">
                    <span class="glyphicon glyphicon-arrow-left"></span> Вернуться
                </a>
                <a class="btn btn-info" title="Редактировать" href="{{ path('admin_lang_edit',{'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> Редактировать
                </a>
                <form class="btn" action="{{ path('admin_lang_delete',{'id': entity.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-ban-circle"></span>
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    </table>

{% endblock box %}
