{% if pageforLang=='guest' %}
    <li>
        <button type="button" data-dialog-open="lang">
            <img src="/FrontendAssets/guest/img/flag/{{ activeLang }}.png" alt="{{ activeLang }}"/>
        </button>
    </li>
{% elseif(pageforLang=='cabinet') %}
    <li>
        <a href="#" data-dialog-open="lang">
            <img src="/FrontendAssets/guest/img/flag/{{ activeLang }}.png" alt="{{ activeLang }}"/>
        </a>
    </li>
{% endif %}