{{ form_start
    (
    form,
    { 'method': 'POST',
        'attr':{'id':'contactForm','class':'padding-4 bg-lightgray border-rounded-2 shadow'},
        'action': path('website_frontend_feedback' )
    }

) }}

<fieldset>
    {% if app.request.hasPreviousSession %}

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert">
                    <input class="hidden" type="checkbox" id="errorFrame"/>
                    <div class="alert__content flex justify-between margin-y-4 padding-x-3 padding-y-3 border-rounded-1 bg-{{ type }} color-white-95">
                        <span>{{ message }}</span><label for="errorFrame">×</label>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

    {% endif %}
    {{ form_row (form._token) }}
    <div>

        <div>
            <div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>

    </div>
    <div>
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
    </div>

    <div>
        <button class="btn" data-progress-text="Sending...">{{ 'reset_pass.btn_send'|trans({}, 'messages') }}</button>
    </div>
</fieldset>

{{ form_end(form, {'render_rest': false}) }}
