<header>
    <div>
        <div>
            <div>
                <a class="" href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">
                    <img src="/FrontendAssets/guest/img/logo.svg" alt="logo"/>
                    <div>
                        <div>Nika</div>
                    </div>
                </a>
                <nav>
                    <ul>
                        <li>
                            <div>Компания
                                <ul>
                                    <li>
                                        <a href="{{ path ('website_frontend_pages', {'_locale': app.request.getLocale(), 'page':'about' }) }}">О
                                            нас</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('website_frontend_news', {'_locale': app.request.getLocale() } ) }}">Новости</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div>Справка
                                <ul>
                                    <li>
                                        <a href="{{ path ('website_frontend_faq', {'_locale': app.request.getLocale() }) }}">Вопросы
                                            и ответы</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('website_frontend_pages',{'_locale': app.request.getLocale(),'page':'rules' } ) }}">Правила</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('website_frontend_pages', {'_locale': app.request.getLocale(), 'page':'contacts' } ) }}">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <div>
                    {{ render(controller('WebsiteFrontendBundle:Pages:getlang', {'req':app.request,'type':'Desktop'} ) ) }}
                </div>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn" href="{{ path('website_admin_homepage') }}">Админ панель</a>
                {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="btn"
                       href="{{ path('website_profile',{'_locale': app.request.getLocale() } ) }}">Кабинет</a>
                {% else %}
                    <a class="btn" href="{{ path('fos_user_security_login',{'_locale': app.request.getLocale() }) }}">Войти</a>
                {% endif %}


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a class="btn" href="{{ path('website_admin_homepage', {'_switch_user': '_exit'}) }}">Выйти из
                            под упраления</a>
                    {% else %}
                        <a class="btn" href="{{ path('fos_user_security_logout') }}">Выйти</a>
                    {% endif %}
                {% else %}
                    <a class="btn"
                       href="{{ path('fos_user_registration_register',{'_locale': app.request.getLocale() }) }}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>