<ul class="">

    {% for lang in langs %}
        {% if lang.locale == curr_lang %}
            <li>
                <a class=""
                   href="{{ path(req.get('_route'), req.get('_route_params')|merge({'_locale' : lang.locale})) }}"
                   title="{{ lang.title }}">
                    <img class="flag-30" src="/FrontendAssets/guest/img/flag/{{ lang.slug }}.svg"
                         alt="{{ lang.title }}"></a>
            </li>
        {% else %}
            <li>
                <a class=""
                   href="{{ path(req.get('_route'), req.get('_route_params')|merge({'_locale' : lang.locale})) }}"
                   title="{{ lang.title }}">
                    <img class="flag-30" src="/FrontendAssets/guest/img/flag/{{ lang.slug }}.svg"
                         alt="{{ lang.title }}"></a>
            </li>
        {% endif %}
    {% endfor %}

</ul>
