{% if type != 'admin' %}
    {% for lang in langs %}
        {% if lang.locale == curr_lang %}
            <div title="{{ lang.title }}" ><img src="/FrontendAssets/guest/img/flag/{{ lang.slug }}.svg" class="flag-30"/></div>
        {% endif %}
    {% endfor %}
    <div class="hidden">
        <ul>
            {% for lang in langs %}
                {% if lang.locale != curr_lang %}
                    <li class="">
                        <a class=""
                           href="{{ path(req.get('_route'), req.get('_route_params')|merge({'_locale' : lang.locale})) }}"
                           title="{{ lang.title }}">
                            <img class="flag-30"
                                 src="/FrontendAssets/guest/img/flag/{{ lang.slug }}.svg"
                                 alt="{{ lang.title }}"/>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% else %}
    <ul class="">
        {% for lang in langs %}
            <li class="">
                <a class=""
                   href="{{ path(req.get('_route'), req.get('_route_params')|merge({'_locale' : lang.locale})) }}">
                    <img class="flag-30" src="/FrontendAssets/guest/img/flag/{{ lang.slug }}.png"
                         alt="{{ lang.title }}"/>{{ lang.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}