<div class="padding-x-4 padding-y-3 bg-lightgray">
    <ul class="flex justify-between items-center flex-wrap margin-y-0 padding-left-0 no-list">
        <li class="padding-2 partner-logo"><img class="block"
                                                src="/FrontendAssets/guest/img/partner/picture1.png"
                                                alt="picture1"/></li>
        <li class="padding-2 partner-logo"><img class="block"
                                                src="/FrontendAssets/guest/img/partner/picture2.png"
                                                alt="picture2"/></li>
        <li class="padding-2 partner-logo"><img class="block"
                                                src="/FrontendAssets/guest/img/partner/picture3.png"
                                                alt="picture3"/></li>
        <li class="padding-2 partner-logo"><img class="block"
                                                src="/FrontendAssets/guest/img/partner/picture4.png"
                                                alt="picture4"/></li>
        <li class="padding-2 partner-logo"><img class="block"
                                                src="/FrontendAssets/guest/img/partner/picture5.png"
                                                alt="picture5"/></li>
        <li class="padding-2 partner-logo"><img class="block"
                                                src="/FrontendAssets/guest/img/partner/picture6.png"
                                                alt="picture6"/></li>
        <li class="padding-2 partner-logo"><img class="block"
                                                src="/FrontendAssets/guest/img/partner/picture7.png"
                                                alt="picture7"/></li>
        <li class="padding-2 partner-logo"><img class="block"
                                                src="/FrontendAssets/guest/img/partner/picture8.png"
                                                alt="picture8"/></li>
    </ul>
</div>