@import "compass/reset";

header{
  background: green;
  width: 100%;
}

nav{
  background: yellow;
  width: 20%;
}

main{
  background: red;
  width: 60%;
}

aside{
  background: blue;
  width: 20%;
}

footer{
  background: orange;
  width: 100%;
}