<!DOCTYPE html>
<html xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=1200">

{#    <link rel="apple-touch-icon" sizes="180x180" href="/FrontendAssets/favicon/apple-touch-icon.png">#}
{#    <link rel="icon" type="image/png" sizes="32x32" href="/FrontendAssets/favicon/favicon-32x32.png">#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="/FrontendAssets/favicon/favicon-16x16.png">#}
{#    <link rel="manifest" href="/FrontendAssets/favicon/site.webmanifest">#}
{#    <link rel="mask-icon" href="/FrontendAssets/favicon/safari-pinned-tab.svg" color="#4660f7">#}

    <meta property="og:title" content="NIKA" />
    <meta property="og:description" content="NIKA NIKA NIKA" />
    <meta property="og:image" content="FrontendAssets/guest/img/preview.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="540">

    <link rel="image_src" href="FrontendAssets/guest/img/preview.png">
    <meta name="description" content=" Nika.....">
    <meta name="keywords" content="Nika, nika, nik, ni, n">

    {% block seo %}

        <title>{% block title %}NIKA{% endblock %}</title>

        {% block metadescriptions %}
            <meta name="description" content="Nika_descriptions">
        {% endblock %}

        {% block metakeywords %}
            <meta name="keywords" content="Nika_keywords">
        {% endblock %}

    {% endblock %}

    {% block stylesheets %}{% endblock %}
    {% block javascriptsHead %}

        <script type="text/javascript">
            if(window.top != window) {
                window.stop();
            }
        </script>

    {% endblock %}
</head>
<body {% if is_granted('ROLE_SUPER_ADMIN') %}class="sidebar-mini skin-blue"{% endif %}>

    <div id="global-loader"></div>

        {% block header %}{% endblock %}
        {% block menu %}{% endblock %}
        {% block adminmenu %}{% endblock adminmenu%}
        {% block body %}{% endblock %}
        {% block dialogs %}{% endblock %}
        {% block footer %}{% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% endblock %}

    {% block javascriptsPrototype %}{% endblock %}

</body>