{#<link rel="stylesheet" href="/FrontendAssets/frontend-{{ template }}/style/plugin.css?{{ prefix }}">#}
{#<link rel="stylesheet" href="/FrontendAssets/frontend-{{ template }}/style/app.css?{{ prefix2 }}">#}
