{#<script src="/FrontendAssets/frontend-{{ template }}/script/plugin.js?{{ prefix }}"></script>#}
{#<script src="/FrontendAssets/frontend-{{ template }}/script/app.js?{{ prefix2 }}"></script>#}
{#<script src="/FrontendAssets/frontend-{{ template }}/script/my.js?{{ prefix }}"></script>#}