{% extends 'WebsiteAdminBundle::layout.html.twig' %}

{% block body %}

    <body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Форма {{ form is defined ? 'добавления':'редактирования' }} {% block titleForm %}{% endblock %}
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-info">
                        <div class="box-header with-border">

                            {% block flashBlock %}
                                {{ parent() }}
                            {% endblock %}

                        </div>
                        <!-- /.box-header -->
                        {% block box %}

                        {% endblock %}

                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock body %}