{% extends 'WebsiteAdminBundle::layout.html.twig' %}

{% block body %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div class="content-wrapper">

        {% block box_header %}
            <!-- box Header (Page header) -->
            <section class="content-header">

                <div class="col-lg-6" style="margin-bottom: 10px">
                    <h2 style="font-size:24px;">
                        Просмотр записи {% block titleShow %}{% endblock %}
                    </h2>
                </div>

                <div class="col-lg-6">

                    {% if entity.comment2 is defined %}
                        <form action="{{ path('website_admin_user_update_comment', { 'id': entity.id }) }}" ,
                              method="post">
                            <div class="form-group">
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Ваш комментарий" class="form-control box"
                                           name="comment2" value="{{ entity.comment2 }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-2">
                                    <button type="submit" class="btn btn-success">OK</button>
                                </div>
                            </div>

                        </form>
                    {% endif %}

                </div>

            </section>

        {% endblock %}

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-info">
                        <div class="box-header with-border">

                            {% block flashBlock %}
                                {{ parent() }}
                            {% endblock %}

                        </div>
                        <!-- /.box-header -->

                        <div class="table-responsive">

                            {% block box %}

                            {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    {% endblock body %}

