<div class="wrapper">
    <div>
        <div>

            {{ render(controller('WebsiteFrontendBundle:Pages:getLangReg', {'req':app.request,'type':'Desktop'} ) ) }}

            <div>
                <a href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">
                    <img src="/img/logo.svg" alt="logo"/>
                    <div>
                        <div>NIKA</div>
                    </div>
                </a>
            </div>
            <div>
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" data-form>
                    <fieldset>
                        <div>
                            <label for="reset_email">Email</label>
                            {#<input class="field" type="email" id="reset_email" name="test" minlength="4" required autofocus>#}
                            <input type="text" required autofocus name="username">
                            {#<input class="field" type="email" required autofocus name="email">#}
                        </div>
                    </fieldset>
                    <div>
                        <div>
                            <div>Вспомнили пароль?
                                <a href="{{ path('fos_user_security_login',{'_locale': app.request.getLocale() }) }}">Войти</a>
                            </div>
                        </div>
                        {#<button class="btn btn_alt flex-no-shrink margin-left-3" data-progress-text="Resetting...">Reset password</button>#}
                        <button class="btn">Авторизироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>