{% trans_default_domain 'FOSUserBundle' %}

<div class="wrapper">
    <div>
        <div>

            {{ render(controller('WebsiteFrontendBundle:Pages:getLangReg', {'req':app.request,'type':'Desktop'} ) ) }}

            <div>
                <a href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}">
                    <img src="/img/logo.svg" alt="logo"/>
                    <div>
                        <div>NIKA</div>
                    </div>
                </a>
            </div>
            <div>
                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'padding-4 bg-lightgray border-rounded-2 shadow' } }) }}
                <div>
                    {{ form_label (form.plainPassword.first) }}
                    {{ form_errors (form.plainPassword.first) }}
                    {{ form_widget (form.plainPassword.first) }}
                </div>
                <div>
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget (form.plainPassword.second) }}
                </div>
                {{ form_widget(form._token) }}
                <div>
                    <button class="btn">Изменить пароль</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

