{% extends 'WebsiteAdminBundle:Base:index.html.twig' %}

{% block titleList %}Языки{% endblock %}

{% block box %}

    <div class="box-header">
        <a class="btn btn-sm btn-primary" title="Добавить" href="{{ path('admin_faq_new') }}">
            <span class="glyphicon glyphicon-plus"></span>Добавить
        </a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class="nav-tabs-custom">

            <ul class="nav nav-tabs">

                {% for lang in langs %}
                    <li class="{% if lang.id==tab %}active{% endif %}"><a href="#tab_{{ loop.index }}"
                                                                          data-toggle="tab">{{ lang.slug }}</a></li>
                {% endfor %}

            </ul>
        </div>
        <div class="tab-content">
            {% for lang in langs %}
                <div class="tab-pane {% if lang.id==tab %}active{% endif %}" id="tab_{{ loop.index }}">
                    <table id="tabBlock" class="table table-bordered table-striped">
                        <thead>
                        <tr>

                            <th>Вопрос</th>
                            <th>Ответ</th>
                            <th>Язык</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities if entity.lang.locale==lang.locale %}

                            <tr>
                                <td>{{ entity.id }} {{ entity.question }}</td>
                                <td>{{ entity.answer|raw }}</td>
                                <td>
                                    {{ entity.lang.locale }}
                                </td>
                                <td>
                                    <a class="btn btn-primary" title="Просмотр"
                                       href="{{ path('admin_faq_show', { 'id': entity.id,'tab':lang.id }) }}">
                                        <i class="fa fa-eye"></i> Просмотр
                                    </a>
                                    <a class="btn btn-info" title="Редактировать"
                                       href="{{ path('admin_faq_edit', { 'id': entity.id,'tab':lang.id }) }}">
                                        <span class="glyphicon glyphicon-edit"></span> Редактировать
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                        <tfoot>
                        <tr>
                            <th>Вопрос</th>
                            <th>Ответ</th>
                            <th>Язык</th>
                            <th>Действия</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            {% endfor %}
        </div>
    </div><!-- /.box-body -->

{% endblock %}