{% extends 'WebsiteAdminBundle:Base:show.html.twig' %}

{% block titleShow %}FAQ{% endblock %}

{% block box %}

    <table class="table">
        <tr>
            <th>Категория:</th>
            <td>
                {{ entity.category }}
            </td>
        </tr>
        <tr>
            <th>Вопрос:</th>
            <td>{{ entity.question }}</td>
        </tr>
        <tr>
            <th>Ответ:</th>
            <td>{{ entity.answer|raw }}</td>
        </tr>
        <tr>
            <th>Язык:</th>
            <td>
                {{ entity.lang.locale }}
            </td>
        </tr>
        <tr>
            <th>Действия:</th>
            <td>
                <a class="btn btn-primary" title="Вернуться к списку" href="{{ path('admin_faq',{'tab': tab}) }}">
                    <span class="glyphicon glyphicon-arrow-left"></span> Вернуться
                </a>
                <a class="btn btn-info" title="Редактировать" href="{{ path('admin_faq_edit',{'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> Редактировать
                </a>
                <form class="btn" action="{{ path('admin_faq_delete',{'id': entity.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-ban-circle"></span>
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    </table>

{% endblock box %}
