<table class="table">
    <tr>
        <td style="width:40%">
            <dl class="dl-horizontal">

                <h4>Личные данные</h4>

                <dt>Логин:</dt>
                <dd>{{ entity.username }}</dd>

                <dt>Регистрация:</dt>
                <dd>{{ entity.dateCreate|date("d-m-Y H:i:s") }}</dd>

                <dt>Последняя активность:</dt>
                <dd>{{ entity.lastLogin|date("d-m-Y H:i:s") }}</dd>

                <dt>Почта:</dt>
                <dd>{{ entity.email }}</dd>

                <dt>Статус:</dt>
                <dd>
                    {% if entity.enabled==false %}
                        <span class="label label-warning">Отключен</span>
                    {% else %}
                        <span class="label label-success">Активен</span>
                    {% endif %}
                </dd>

                {#<dt>Pin code:</dt>#}
                {#<dd>{{ entity.secretword }}</dd>#}
                {% if entity.comment!=null %}
                    <dt>Примечание:</dt>
                    <dd>  {{ entity.comment }}</dd>
                {% endif %}
            </dl>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-info" title="Редактировать"
               href="{{ path('website_admin_user_edit',{'id': entity.id }) }}">
                <span class="glyphicon glyphicon-edit"></span> Редактировать данные
            </a>

            <a class="btn btn-info" title="Просмотреть профиль пользователя"
               href="{{ path('fos_user_profile_show',{'_switch_user': entity.username }) }}">
                <span class="glyphicon glyphicon-edit"></span> Войти в кабинет пользователя
            </a>
        </td>
    </tr>
</table>