<h4>
    Отзывы пользователя:
</h4>

<table class="table">
    <tr>
        <th>Дата:</th>
        <th>Описание</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    {% for review in entity.allReviews %}
        <tr>
            <td>{{ review.dateCreate|date("d-m-Y") }}</td>
            <td>{{ review.description }}</td>
            <td>
                {% if review.status ==false %}
                    <span class="label label-danger">Не подтвержден</span>
                {% else %}
                    <span class="label label-success">Активен</span>
                {% endif %}
            </td>

            <td>
                <a class="btn btn-primary" title="Просмотр"
                   href="{{ path('admin_reviews_show', { 'id': review.id }) }}">
                    <i class="fa fa-eye"></i> Просмотр
                </a>
                <a class="btn btn-info" title="Редактировать"
                   href="{{ path('admin_reviews_edit', { 'id': review.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> Редактировать
                </a>

            </td>
        </tr>
    {% endfor %}

</table>