<table class="table">
    <tr>
        <td style="width:40%">
            <dl class="dl-horizontal">

                <h4>Безопасность</h4>

                <dt>2xAuth:</dt>
                <dd>
                    {% if entity.doubleAuth %}
                        <span class="label label-success">Активен</span>
                    {% else %}
                        <span class="label label-warning">Отключен</span>
                    {% endif %}
                </dd>

                <dt>Последний PIN:</dt>
                <dd>
                    {% if entity.confirmationPin !=null %}
                        {{ entity.confirmationPin }}
                    {% else %}
                        -
                    {% endif %}
                </dd>

            </dl>
        </td>

    </tr>

</table>