{% extends 'WebsiteUserBundle::layout.html.twig' %}

{% block content %}
    <div class="app-content my-3 my-md-5">
        <div class="side-app">
            <div class="padding-top-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'profile.menu.pers_data'|trans({}, 'messages') }}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-auto" title="{{ 'cabinet.edit_profile.img'|trans({}, 'messages')}}. {{ 'cabinet.edit_profile.max'|trans({}, 'messages')}}">
                                        <label class="avatar-label" for="personal_avatar"><span class="avatar brround avatar-xl" style="background-image: url({{ user.photo==null?'/FrontendAssets/frontend-cabinett/img/faces/anon.svg':'https://cdn1.nika.com/upload/avatar/'~user.photo }})"></span></label>
                                        <input name="image" class="hidden" type="file" id="personal_avatar" accept="image/*">
                                    </div>
                                    <div class="col">
                                        <h3 class="mb-1">{{ user.username }}</h3>
                                        <div class="margin-bottom-3">
                                            <a class="d-block" href="mailto:{{ user.email }}">
                                                <span class="text-muted">{{ 'cabinet.edit_profile.email'|trans({},'messages') }}: </span>
                                                {{ user.email }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="card-value float-right padding-left-2 text-purple"><i class="fe fe-dollar-sign"></i></div>
                            </div>
                            <div class="card-chart-bg">
                                <div id="chart-bg-users-1"></div>
                            </div>
                        </div>
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="card-value float-right padding-left-2 text-lightpink-red"><i class="fa fa-diamond"></i></div>
                            </div>
                            <div class="card-chart-bg">
                                <div id="chart-bg-users-2"></div>
                            </div>
                        </div>
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="card-value float-right padding-left-2 text-orange"><i class="fe fe-users"></i></div>
                            </div>
                            <div class="card-chart-bg">
                                <div id="chart-bg-users-3"></div>
                            </div>
                        </div>
                        <div class="card overflow-hidden">
                            <div class="card-body">
                                <div class="card-value float-right padding-left-2 text-green"><i class="fe fe-user-plus"></i></div>
                            </div>
                            <div class="card-chart-bg">
                                <div id="chart-bg-users-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">

                        {% include 'WebsiteUserBundle:FrontendProfile:alert.html.twig' %}

                        {% include 'WebsiteUserBundle:FrontendProfile:security2.html.twig'  with {'user': user,'form':form} %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

