<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>nika.com</title>
</head>
<body>
<div>

    {% if code is defined %}
        <p><span>Your pin code:</span> {{ code }} </p>
    {% endif %}

</div>

</body>
</html>
