<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Mail confirmation!</title>
</head>
<body style="padding: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; background-color: #fff;">
<table width="700" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center"
            style="padding: 100px 0 80px; background-color: #1b1b1b; background-image: url('https://nika.com/FrontendAssets/guest/img/email/blue-link-7.png'); background-position: center top; background-repeat: no-repeat;">
            <a href="https://nika.com/{{ locale }}" target="_blank"><img
                        src="https://nika.com/FrontendAssets/guest/img/email/logo.png"
                        alt="nika.com logo"/></a>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="padding: 0 35px 100px; background-color: #1b1b1b; line-height: 23px;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr align="center">
                                <td style="padding-bottom: 20px;"><p
                                            style="margin: 0; padding: 0; line-height: 2; font-size: 15px;"><b
                                                style="color: #1473e6; font-size: 24px;">Mail confirmation!</b></p></td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td></td>
                                            <td style="padding-top: 20px; padding-left: 100px; padding-right: 100px; color: #fff;">
                                                <p style="margin: 0; padding: 0; line-height: 1.6;">
                                                    Hello, {{ username }} {{ name }}:</p>
                                                <ul>
                                                    <li>PIN: {{ pin }}</li>
                                                </ul>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
