<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>nikal.com Contact</title>
</head>
<body>
<div>


    {% if name is defined %}
        <p><span>Name:</span> <b>{{ name }}</b></p>
    {% endif %}

    {% if email is defined %}
        <p><span>Email:</span> <b>{{ email }}</b></p>
    {% endif %}

    {% if message is defined %}
        <div>
            <p>Message:</p>
            {{ message }}
        </div>
    {% endif %}

</div>

</body>
</html>
