<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Congratulations!</title>
</head>
<body style="padding: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #fff;">
<table width="700" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center"
            style="padding: 100px 0 80px; background-color: #1b1b1b; background-image: url('https://nika.com/FrontendAssets/guest/img/bg/4.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover">
            <a href="https://nika.com/{{ locale }}" target="_blank"><img
                        src="https://nika.com/FrontendAssets/frontend-cabinet/img/logo.svg" alt="nika.com logo"
                        style="width: 50%"/></a>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="background-color: #ffffff; background-image: url('file:///C:/Git/storm/web/frontend/guest/dist/img/grid.svg'); background-position: center center; background-size: cover; line-height: 23px;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr align="center">
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td></td>
                                            <td style="padding: 100px 100px 0; color: #000000;">
                                                <p style="margin: 0; padding: 0; line-height: 1.6;">Welcome to nika!</p>
                                                <p style="margin: 0; padding: 0; line-height: 1.6;">We are happy to see
                                                    you!</p>
                                                <p style="margin: 0; padding: 0; line-height: 1.6;">Get started and
                                                    create your future</p>
                                                <ul style="margin: 24px 0">
                                                    <li>Login: {{ username }}</li>
                                                    <li>Email: {{ email }}</li>
                                                </ul>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr align="center">
                                            <td></td>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td height="50"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px; background-color: #4660f7; text-align: center; border-radius: 3px">
                                                            <a href="https://nika.com/{{ locale }}/profile"
                                                               target="_blank"
                                                               style="font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none;"><b>Sign
                                                                    in</b></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="50"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr style="background-color: #121212; color: #ffffff; text-align: center">
                                            <td></td>
                                            <td style="padding: 24px">
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td style="width: 50%">
                                                            Mail:
                                                            <a href="mailto:info@nika.com"
                                                               style="color: #a8b4fb; text-decoration: none">info@nika.com</a>
                                                        </td>
                                                        <td style="width: 50%">
                                                            WhatsApp:
                                                            <a href="https://api.whatsapp.com/send?phone=#"
                                                               style="color: #a8b4fb; text-decoration: none">+11111111111</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50%">
                                                            Facebook:
                                                            <a href="https://www.facebook.com/# style=" color: #a8b4fb;
                                                               text-decoration: none">NIKA</a>
                                                        </td>
                                                        <td style="width: 50%">
                                                            Mobile:
                                                            <a href="tel:+11111111"
                                                               style="color: #a8b4fb; text-decoration: none">+111111111</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
