{% if username is defined %}
    Username: {{ username }}
{% endif %}

{% if name is defined %}
    Name: {{ name }}
{% endif %}

{% if phone is defined %}
    Phone: {{ phone }}
{% endif %}

{% if email is defined %}
    Email: {{ email }}
{% endif %}

{% if skype is defined %}
    Skype: {{ skype }}
{% endif %}


{% if attach is defined %}
    Files.
{% endif %}

{% if sum is defined %}
    Sum: {{ sum }}
{% endif %}

{% if date is defined %}
    Date: {{ date }}
{% endif %}

{% if system is defined %}
    Pay system: {{ system }}
{% endif %}

{% if batch is defined %}
    Batch: {{ batch }}
{% endif %}