<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Verification {{ username }}!</title>
</head>
<body style="padding: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #424242; background-color: #fff;">
<table width="689" cellpadding="0" cellspacing="0" border="0">

    <tr>
        <td>
            Verification login
        </td>
        <td>
            {{ personal }}
        </td>
    </tr>
    <tr>
        <td>
            Personal data
        </td>
        <td>
            <a href="{{ personal }}">Personal data</a>
        </td>
    </tr>
</table>
</body>
</html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>madison</title>
</head>
<body>
<div>

    {% if username is defined %}
        {{ username }}
    {% endif %}

</div>

</body>
</html>
