<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Congratulations!</title>
</head>
<body style="padding: 25px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #fff; background-color: #fff;">
<table width="700" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center"
            style="padding: 100px 0 80px; background-color: #1b1b1b; background-image: url('https://nika.com/FrontendAssets/guest/img/email/blue-link-7.png'); background-position: center top; background-repeat: no-repeat;">
            <a href="https://nika.com" target="_blank"><img
                        src="https://nika.com/FrontendAssets/guest/img/email/logo.png"
                        alt="nika.com logo"/></a>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="padding: 0 35px 100px; background-color: #1b1b1b; line-height: 23px;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr align="center">
                                <td style="padding: 0 40px 20px;"><p
                                            style="margin: 0; padding: 0; line-height: 1.4; font-size: 15px;"><b
                                                style="color: #1473e6; font-size: 24px;">You have received a new
                                            referral status</b></p></td>
                            </tr>
                            <tr align="center">
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td></td>
                                            <td style="padding-top: 20px; padding-left: 100px; padding-right: 100px; text-align: center; text-transform: uppercase;">
                                                <img src="https://nika.com/FrontendAssets/guest/img/email/level/{{ title|lower|replace({'(start)': ""}) }}.png"
                                                     alt="{{ title }}"
                                                     style="display: block; margin-left: auto; margin-right: auto;">
                                                <h1 style="font-size: 32px; line-height: 1.2;">{{ title }}
                                                    <br/>{{ percents }}%</h1>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr align="center">
                                            <td></td>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td height="50"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-top: 10px; padding-right: 30px; padding-bottom: 10px; padding-left: 30px; background-color: #1473e6; text-align: center;">
                                                            <a href="https://nika.com/en/profile" target="_blank"
                                                               style="font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none;"><b>Sign
                                                                    in</b></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
