{% extends 'WebsiteFrontendBundle::layout.html.twig' %}

{% block body %}
    <hr>
    <main>
        <div>
            <div class="container">
                <p>
                <h3>FAQ</h3></p>
                <div>
                    <div>
                        {% if entities != false %}
                            <div>
                                <ul>

                                    {% for entity in entities %}
                                        <li>
                                            <p>{{ entity.question }}</p>
                                            <div>{{ entity.answer|raw }}</div>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <hr>
{% endblock body %}