{% extends 'WebsiteFrontendBundle::layout.html.twig' %}

{% block body %}
    <main class="main">

        <div class="padding-y-5 bg-geo bg-no-repeat bg-right bg-height-full">
            <div class="container">
                <div class="grid grid-column-gap-7">
                    Main page
                </div>
            </div>
        </div>
        <div class="padding-y-5 bg2 bg-no-repeat bg-center bg-cover">
            <div class="container">
                <div class="grid grid-column-gap-7">
                    <div class="flex items-center grid-column-7 color-white">
                        <div class="width-full">
                            {% if entities.0 is defined %}
                                <h1 class="heading">{{ entities.0.titlePathFirst }}</h1>
                                <p>{{ entities.0.description|raw }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-y-5">
            <div class="container"></div>
        </div>

        {#{% include '@WebsiteFrontend/viewBlock/logo_partners.html.twig' %}#}
    </main>
{% endblock %}
