{% extends 'WebsiteFrontendBundle::layout.html.twig' %}

{% block body %}
    <hr>
    <main>
        <div>
            <div class="container">
                <p>
                <h3>News</h3></p>
                <ul>
                    {% for entity in entities %}
                        <li>
                            <div>
                                <h1>{{ entity.title }}</h1>
                                {{ entity.description|slice(0,200)|raw }}
                                <p>
                                    <a href="{{ path('website_frontend_news_single',{'_locale': app.request.getLocale(),'slug':entity.slug } ) }}">{{ 'guest.news.more'|trans({}, 'messages') }}
                                        →</a></p>
                            </div>
                            <div style="background-image: url('https://cdn1.nika.com/upload/news/{{ entity.photo }}')"></div>
                        </li>
                    {% endfor %}
                </ul>

                {% if (entities != null) %}
                    <div>
                        {{ knp_pagination_render(entities) }}
                    </div>
                {% endif %}

            </div>
        </div>
    </main>
    <hr>
{% endblock %}