{% extends 'WebsiteFrontendBundle::layout.html.twig' %}

{% block body %}
    <hr>
    <main>
        <div>
            <div class="container">
                <h1>{{ entity.title }}</h1>
                <img class="block margin-bottom-4" src="https://nika.com/upload/news/{{ entity.photo }}" alt="news pic">
                {{ entity.description|raw }}
                <div>
                    <a class="btn"
                       href="{{ path('website_frontend_news',{'_locale': app.request.getLocale() } ) }}">← {{ 'guest.news.btn_back'|trans({}, 'messages') }}</a>
                </div>
            </div>
        </div>
    </main>
    <hr>
{% endblock body %}