<ul>
    {% for entity in entities %}
        <li style="background-image: url('{{ entity.photo==null?'/FrontendAssets/guestt/img/preview.png':'https://nika.com/upload/news/'~entity.photo }}');">
            <a href="{{ path('website_frontend_news_single',{'_locale': app.request.getLocale(),'slug':entity.slug } ) }}">
                <div>
                    <div>
                        <div>{{ entity.dateCreate|date('d.m.Y') }}</div>
                        <div>{{ entity.title }}</div>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}

</ul>
{% if (entities != null and knp==true) %}
    <div>
        {{ knp_pagination_render(entities) }}
    </div>
{% endif %}