{% extends 'WebsiteFrontendBundle::layout.html.twig' %}

{% block body %}
    <hr>
    <main class="main">
        {#{% include '@WebsiteFrontend/viewBlock/logo_partners.html.twig' %}#}

        {% include 'WebsiteFrontendBundle:Pages:'~page~'.html.twig'  with {'entities': entities,  'page': page} %}
    </main>
    <hr>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}