{% extends 'WebsiteFrontendBundle::layout.html.twig' %}

{% block body %}

    <main class="main">
        <div>
            <h1>Отзывы</h1>
            <div>

                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}

                            <div>
                                <input type="checkbox" id="errorFrame"/>
                                <div>
                                    <span>{{ message }}</span>
                                    <label>×</label>
                                </div>
                            </div>

                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <input type="checkbox" id="makeReview_toggle">
                        <label for="makeReview_toggle">＋ {{ 'new.add_youtube'|trans({}, 'messages') }}</label>
                        <div>

                            <form action="{{ path("website_frontend_reviews_send") }}" method="post">
                                <div class="flex--lg items-center">
                                    {{ form_widget(form._token) }}

                                    {{ form_label (form.videoUrl) }}
                                    {{ form_widget (form.videoUrl) }}

                                    {{ form_widget (form.send) }}
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}"
                           class="btn">{{ 'new.authorize'|trans({}, 'messages') }}</a>
                    {% endif %}
                </div>

            </div>
            <div>
                <ul>
                    {% for entity in entities %}
                        <li>
                            <div>
                                <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/{{ entity.videoUrl }}" frameborder="0"
                                        allowfullscreen></iframe>
                            </div>
                            <div>
                                <div>🎥 {{ entity.userfront.username }}</div>
                                <div>{{ entity.dateCreate|date('d.m.Y') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% if (entities != null) %}
                    <div>
                        {{ knp_pagination_render(entities) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock body %}