<main class="main">
    <p>
    <h3>Rules</h3></p>
    <div class="container">
        {#<h1 class="heading">{{ 'new.txt_rules'|trans({}, 'messages') }}</h1>#}
        {% if entities != false %}
            <h1 class="heading">{{ entities.0.titlePathFirst }}</h1>
            {{ entities.0.description|raw }}
        {% endif %}
    </div>
</main>