
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Выравнивание по центру */
}

/* Intro */
.intro{
    width: 100% ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background:
    url("../images/intro.jpg") center
    no-repeat;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    color: #ffffff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: 72px auto;

}

.intro__suptitle {
    margin-bottom: 20px;
    margin-top: 150px;
    font-size: 72px;
    color: #ffffff;
    font-family: 'Kaushan Script', cursive;
}

.intro__slider {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;

}

.intro__slider__inner {
    display: flex;
    justify-content: space-between;
}

.intro__slider__item {
    width: 20%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #ffffff;
    opacity: .7;

    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.intro__slider__item.active {
    opacity: 1;
}

.intro__slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;

    top: -3px;
    left: 0;
    z-index: 1;

    background-color: #f38181;

}

.intro__slider__number {
    font-size: 24px;
    font-weight: 700;
}


/* Header */
.header {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between; /* Элементы знамают крайние позиции контейнера */
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 10px;
}

/* Nav */
.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;

    position: relative;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: color .1s linear; /* Текст плавно меняется */
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    position: absolute;
    opacity: 0;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after{
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;

}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 700;
    padding: 8px 30px;

    transition: background-color .5s linear;
}

.btn:hover {
    /*color: #fce38a;*/
    color: #fc938e;
    border-color: #fc938e;
    background: #ffffff;

}
.btn:hover:after {
    opacity: 1;
}