{% extends '::base.html.twig' %}

{% block header %}

    {{ render(controller('WebsiteUserBundle:Profile:getHeader',{'route':app.request.attributes.get('_route'), 'route_params':app.request.attributes.get('_route_params')})) }}

{% endblock %}

{% block menu %}

    <!-- Sidebar menu-->
    <div></div>
    <aside>


        <ul>
            {# Cabinet #}
            <li>
                <a href="{{ path('website_profile') }}">
                    <i class="side-menu__icon fa fa-home"></i>
                    <span>{{ 'profile'|trans({}, 'messages') }}</span>
                </a>
                {# Profile #}
            <li class="slide">
                <a data-toggle="slide" href="#">
                    <i class="side-menu__icon fa fa-user"></i>
                    <span>{{ 'cabinet.left_panel.profile'|trans({},'messages') }}</span>
                    <i class="angle fa fa-angle-right"></i>
                </a>
                <ul class="slide-menu">
                    <li>
                        <a href="{{ path('website_profile_edit_show',{'slug':'show'}) }}">{{ 'cabinet.left_panel.profile_show'|trans({},'messages') }}</a>
                    </li>
                    <li>
                        <a href="{{ path('website_profile_edit',{'slug':'info'}) }}">{{ 'cabinet.left_panel.profile_edit'|trans({},'messages') }}</a>
                    </li>
                </ul>
            </li>

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <li><a href="{{ path('website_admin_homepage', {'_switch_user': '_exit'}) }}">
                        <i class="side-menu__icon fa fa-sign-out"></i>
                        <span>{{ 'new.log_out'|trans({},'messages') }}</span>
                    </a>
                </li>
            {% else %}
                <li><a href="{{ path('fos_user_security_logout') }}">
                        <i class="side-menu__icon fa fa-sign-out"></i>
                        <span>{{ 'exit'|trans({},'messages') }}</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </aside>

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">Copyright © {{ date()|date("Y") }} <a href="#">NIKA</a>. All rights
                    reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- Back to top-->
    <div>
        <a id="back-to-top" href="{{ path ('website_frontend_homepage',{'_locale': app.request.getLocale() }) }}"
           style="display: inline;">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

{% endblock javascripts %}

