{% extends '::base.html.twig' %}

{% block stylesheets %}

    {#<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">#}
    <link rel="stylesheet" href="{{ asset('FrontendAssets/guest/style/app.css') }}">
{#    {{ render(controller('WebsiteFrontendBundle:Pages:getVersions',{'type': 'css','template': 'guest'} ) ) }}#}

{% endblock %}

{% block title %}
    Nika {% if page is defined %} | {{ page }}{% endif %}
{% endblock %}

{% block header %}
    {#{% include 'WebsiteFrontendBundle:viewBlock:header.html.twig' %}#}
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ render(controller('WebsiteFrontendBundle:Pages:getVersions',{'type': 'js','template': 'guest'} ) ) }}


{% endblock javascripts %}