{% extends 'WebsiteAdminBundle:Base:new_edit.html.twig' %}

{% block box %}

    {% if edit_form is defined %}
        {% set form =edit_form %}
    {% endif %}

    {{ form_start
        ( form,
        { 'method': (entity.domain) ? 'PUT' : 'POST',
            'action': (entity.domain)
            ? path('site_update')
            : path('site_create'),
            'attr':{'class': 'form-horizontal'}
        }

    ) }}

    {{ form_row (form._token) }}
    <div class="box-body">

        <h3>Базовые настройки</h3>

        <div class="form-group">
            {{ form_label(form.baseDir) }}
            <div class="col-sm-8">
                {{ form_widget (form.baseDir) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.domain) }}
            <div class="col-sm-8">
                {{ form_widget (form.domain) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.countries) }}
            <div class="col-sm-8">
                {{ form_widget (form.countries) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.users) }}
            <div class="col-sm-8">
                {{ form_widget (form.users) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Действия</label>
            <div class="col-sm-4 action">
                {{ form_widget (form.send) }}
                <a class="btn btn-danger col-sm-1" href="{{ path('site_show') }}">Отмена</a>
            </div>

        </div>

    </div>

    {{ form_end(form, {'render_rest': false}) }}

{% endblock box %}