{% extends 'WebsiteAdminBundle:Base:show.html.twig' %}

{% block box %}

    <table class="table">
        {% if entity %}

            <tr>
                <th>Базовый путь:</th>
                <td>
                    {{ entity.baseDir }}
                </td>
            </tr>
            <tr>
                <th>Домен:</th>
                <td>
                    {{ entity.domain }}
                </td>
            </tr>
            <tr>
                <th>Количество стран:</th>
                <td>
                    {{ entity.countries }}
                </td>
            </tr>
            <tr>
                <th>Количество пользователей:</th>
                <td>
                    {{ entity.users }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Действия:</th>
            <td>
                {% if entity %}
                    <a class="btn btn-primary" title="Редактировать" href="{{ path('site_edit') }}">
                        <span class="glyphicon glyphicon-arrow-left"></span> Редактировать
                    </a>
                {% else %}
                    <a class="btn btn-info" title="Настроить" href="{{ path('site_create') }}">
                        <span class="glyphicon glyphicon-edit"></span> Настроить сайт
                    </a>
                {% endif %}
            </td>
        </tr>
    </table>

{% endblock box %}