{% extends 'WebsiteAdminBundle:Base:new_edit.html.twig' %}


{% if entity.id %}
    {% block titleForm %}{{ entity.username }}{% endblock %}
{% endif %}

{% block box %}
    {% if edit_form is defined %}
        {% set form =edit_form %}
    {% endif %}

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {
        'method': 'POST',
        'action': path('website_admin_user_update', { 'id': entity.id }),
        'attr': { 'class': 'form-horizontal' } }) }}

    {% if entity.id %}
        <input type="hidden" name="_method" value="PUT"/>
    {% endif %}

    {{ form_widget(form._token) }}

    <div class="box-body">
        <div class="form-group">
            {{ form_label(form.dateCreate) }}
            <div class="col-sm-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{ form_widget (form.dateCreate) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.username) }}
            <div class="col-sm-4">
                {{ form_widget (form.username) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            <div class="col-sm-4">
                {{ form_widget (form.email) }}
            </div>
        </div>
        {#<div class="form-group">#}
        {#{{ form_label(form.secretWord) }}#}
        {#<div class="col-sm-4">#}
        {#{{ form_widget (form.secretWord) }}#}
        {#</div>#}
        {#</div>#}

        <div class="form-group">
            {{ form_label(form.enabled) }}
            <div class="col-sm-4">
                {{ form_widget (form.enabled) }}
                <p class="help-block">Пользователь включен, (убрать галочку приведет к деактивации пользователя)</p>
            </div>
        </div>
        {#<div class="form-group">#}
        {#<label class="col-sm-2 control-label" for="resetpass">Разрешить сброс пароля еще раз</label>#}
        {#<div class="col-sm-4">#}

        {#<input type="checkbox" id="resetpass" name="resetpass" class="minimal form-control">#}

        {#<p class="help-block">Пользователь получает возможность сброса пароля еще раз</p>#}
        {#</div>#}
        {#</div>#}

        <div class="form-group">
            {{ form_label(form.comment) }}
            <div class="col-sm-4">
                {{ form_widget (form.comment) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Действия</label>
            <div class="col-sm-4 action">
                {{ form_widget (form.send) }}
                <a class="btn btn-danger col-sm-1" href="{{ path('website_admin_user_show', { 'id': entity.id }) }}">Отмена</a>
            </div>

        </div>

    </div>

    {{ form_end(form) }}

{% endblock box %}