{% extends 'WebsiteAdminBundle:Base:index.html.twig' %}

{% block titleList %}пользователей{% endblock %}

{% block box %}

    <div class="box-header">

        <div class="col-md-6">

            {#<a class=" btn btn-primary" title="Добавление" href="#}{#{path('website_admin_user_new') }#}{#">#}
            {#<span class="glyphicon glyphicon-plus"></span>Создать#}
            {#</a>#}

        </div>

        <form class="form-horizontal col-md-6 search_filtr_form" action="{{ path('website_admin_users_search') }}"
              method="get" name="search_filtr_form">

            {% include 'WebsiteAdminBundle:Filters:form_search.html.twig' %}

        </form>

    </div>
    <div class="box-body">
        {% if (entities != null) %}
            <div class="pages">
                {{ knp_pagination_render(knp is defined?knp:entities) }}
            </div>
        {% endif %}

        <div class="col-md-12">
            <strong>Всего найдено {{ count }} записей</strong>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Пользователь</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities if entity.username!='admin' %}

                <tr>
                    <td>
                        {% if offset is defined %}
                            {{ offset==0?loop.index:offset+loop.index }}
                        {% else %}
                            {{ loop.index }}
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li><strong>Логин: </strong>{{ entity.username }}</li>
                            <li><strong>Почта: </strong>{{ entity.email }}</li>
                            <li><strong>Рагистрация: </strong>{{ entity.dateCreate|date("d-m-Y") }}</li>
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-primary" title="Просмотр"
                           href="{{ path('website_admin_user_show', { 'id': entity.id }) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-info" title="Редактировать"
                           href="{{ path('website_admin_user_edit',{'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            <tfoot>
            <tr>
                <th>№</th>
                <th>Пользователь</th>
                <th>Действия</th>
            </tr>
            </tfoot>
        </table>
        {% if (entities != null) %}
            <div class="pages">
                {{ knp_pagination_render(knp is defined?knp:entities) }}
            </div>
        {% endif %}
    </div><!-- /.box-body -->

{% endblock %}