{% extends 'WebsiteAdminBundle:Base:show.html.twig' %}

{% block titleShow %}{{ entity.username }}{% endblock %}

{% block box %}

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li {% if tab == null %}class="active"{% endif %}><a href="#tab_1" data-toggle="tab">Личные данные</a></li>
            <li {% if tab == '6' %}class="active"{% endif %}><a href="#tab_3" data-toggle="tab">Сообщения/Отзывы</a>
            </li>
            <li {% if tab == '7' %}class="active"{% endif %}><a href="#tab_4" data-toggle="tab">Безопасность</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane {% if tab == null %}active{% endif %}" id="tab_1">

                <div class="box-body">

                    {% include 'WebsiteUserBundle:UserAdmin/UserSection:info.html.twig'  with {'entity':entity} %}

                </div>

            </div>
            <div class="tab-pane {% if tab == 6 %}active{% endif %}" id="tab_3">

                <div class="box-body">

                    {% include 'WebsiteUserBundle:UserAdmin/UserSection:reviews.html.twig'  with {'entity':entity} %}

                </div>

            </div>
            <div class="tab-pane {% if tab == 7 %}active{% endif %}" id="tab_4">

                <div class="box-body">

                    {% include 'WebsiteUserBundle:UserAdmin/UserSection:security.html.twig'  with {'entity':entity} %}

                </div>

            </div>
        </div>
        <!-- /.tab-content -->
    </div>


{% endblock box %}
