<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/AdminBootstrap/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.username }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>


        <ul class="sidebar-menu">
            <li class="header">Навигация</li>
            <li>
                <a href="{{ path('website_admin_users') }}"><i class="fa fa-users"></i> <span>Пользователи</span></a>
            </li>

            <
            <li class=" treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Контент сайта</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_news') }}"><i class="fa fa-circle-o text-aqua"></i> <span>Новости</span></a>
                    </li>
                    <li><a href="{{ path('admin_dopage') }}"><i class="fa fa-circle-o text-aqua"></i> <span>Доп. страницы</span></a>
                    </li>
                    <li><a href="{{ path('admin_faq',{'tab':1}) }}"><i class="fa fa-circle-o text-aqua"></i> <span>F.A.Q.</span></a>
                    </li>
                    <li><a href="{{ path('admin_reviews') }}"><i class="fa fa-circle-o text-aqua"></i>
                            <span>Отзывы</span></a></li>
                    <li><a href="{{ path('admin_seo') }}"><i class="fa fa-circle-o text-aqua"></i> <span>SEO</span></a>
                    </li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i> <span>Базовые настройки</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_lang') }}"><i class="fa fa-circle-o text-red"></i>
                            <span>Языки</span></a></li>
                    <li><a href="{{ path('site_show') }}"><i class="fa fa-circle-o text-red"></i> <span>Настройка доп. контента</span></a>
                    </li>
                </ul>
            </li>

        </ul>

    </section>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
