{% extends '::base.html.twig' %}

{% block stylesheets %}
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/AdminBootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/AdminBootstrap/plugins/datatables/dataTables.bootstrap.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="/AdminBootstrap/plugins/datepicker/datepicker3.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/AdminBootstrap/plugins/iCheck/all.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/AdminBootstrap/plugins/select2/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminBootstrap/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/AdminBootstrap/dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="/AdminBootstrap/dist/css/admin.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block menu %}
    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('website_admin_homepage') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>NA</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>NIKA</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    {{ render(controller('WebsiteAdminBundle:Default:getNavbar' ) ) }}

                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block flashBlock %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{% if type=='notice' %}warning {% else %}success{% endif %} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-{% if type=='notice' %}warning{% else %}check{% endif %}"></i> Сообщение!
                    </h4>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endblock %}


    {% block adminmenu %}
        {% include 'WebsiteAdminBundle::adminMenu.html.twig' %}
    {% endblock adminmenu %}

{% block footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</b>
        </div>
        <strong>Copyright &copy; {{ date()|date("Y") }}</strong> All rights reserved.
    </footer>

{% endblock %}

{% block javascripts %}
    <!-- jQuery 2.2.3 -->

    <script src="/AdminBootstrap/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="/AdminBootstrap/js/bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="/AdminBootstrap/plugins/select2/select2.full.min.js"></script>
    <!-- DataTables -->
    {#<script src="/AdminBootstrap/plugins/datatables/jquery.dataTables.min.js"></script>#}
    {#<script src="/AdminBootstrap/plugins/datatables/dataTables.bootstrap.min.js"></script>#}
    <!-- bootstrap datepicker -->
    <script src="/AdminBootstrap/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- SlimScroll -->
    <script src="/AdminBootstrap/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="/AdminBootstrap/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="/AdminBootstrap/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminBootstrap/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/AdminBootstrap/dist/js/demo.js"></script>
    <!-- page script -->
    <!-- InputMask -->
    <script src="/AdminBootstrap/plugins/input-mask/jquery.mask.js"></script>

    <script>


        $(document).ready(function () {
            var rate = $(".maskRate");
            if (rate.length > 0) {
                $(rate).mask('AAAB', {
                    translation: {
                        'A': {
                            pattern: /[0-9.]/
                        },
                        'B': {
                            pattern: /[0-9]/
                        }
                    }
                });
            }

            var numbermask = $(".numbermask");
            if (numbermask.length > 0) {
                $(numbermask).mask('AAAAAAAAA', {
                    translation: {
                        'A': {
                            pattern: /^[0-9-.]+$/
                        }
                    }
                });
            }

        });

        $(function () {

//            $("#tabBlock").DataTable({ "iDisplayLength": 100, "aLengthMenu": [[ 50,100,150,200,250],[50,100,150,200,250]] });

            $(".select2").select2();

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });

            //Date picker
            $('.datepicker').datepicker({
                autoclose: true
            });
        });


    </script>

    <script>

        $('.confirmDelete').click(function () {

            var result = confirm("Вы уверены что хотите удалить данного пользователя ?");


            if (result == true) {
                form.submit();
            } else {
                return false;
            }

        });
    </script>

    <!--Блокирует нажатие чтобы небыло задвоений, добавить data-action-click к ссылке -->
    <script>

        $("[data-action-click]").each(function (idx, el) {
            var $el = $(el);
            var isTriggered = false;

            $el.removeAttr('data-action-click');

            $el.click(function (e) {
                if (isTriggered) {
                    e.preventDefault();
                } else {
                    isTriggered = true;
                }
            });
        });

    </script>
    <script>
        $("[data-select-all]").click(function (e) {
            e.preventDefault();
            $('.iCheck-helper').click();
        });
    </script>
{% endblock %}
