<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/AdminBootstrap/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
        <span class="hidden-xs">{{ app.user.username }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ path('website_frontend_homepage',{ '_locale': 'ru' }) }}" class="btn btn-default btn-flat">На
                    сайт</a>
            </div>
            <div class="pull-right">
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Выход</a>
            </div>
        </li>
    </ul>
</li>