{% extends 'WebsiteFrontendBundle::layout.html.twig' %}

{% block body %}

    <main class="main">
        <div class="padding-top-6 bg-dark bg-width-full bg-top bg-no-repeat bg9">
            <div class="padding-y-4">
                <div class="padding-y-6">
                    <div class="container">
                        <form action="{{ path('website_frontend_doubleauth_authorization') }}" method="POST"
                              class="width-30--lg margin-x-auto color-white" data-form>
                            {{ form_widget(form._token) }}
                            <p>
                                {{ 'new.code_for_authorize'|trans({}, 'messages') }}
                            </p>
                            <div class="padding-y-3">
                                {{ form_widget(form.code) }}
                            </div>
                            {% if error !=NULL %}
                                <div class="padding-top-2" style="color:red">{{ error }}</div>
                            {% endif %}
                            <div class="padding-top-5 text-center">
                                {{ form_widget( form.send) }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
