{% extends 'WebsiteAdminBundle::layout.html.twig' %}

{% block body %}
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Админ панель:
                </h1>

            </section>
        </div>

    </div>
    <!-- ./wrapper -->
{% endblock %}