{% extends 'WebsiteAdminBundle:Base:index.html.twig' %}

{% block titleList %}Новости{% endblock %}

{% block box %}

    <div class="box-header">
        <a class="btn btn-sm btn-primary" title="Добавить" href="{{ path('admin_news_new') }}">
            <span class="glyphicon glyphicon-plus"></span>Добавить
        </a>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        {% if (entities != null) %}
            <div class="pages">
                {{ knp_pagination_render(entities) }}
            </div>
        {% endif %}
        <table id="tabBlock" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Название</th>
                <th>Дата</th>
                <th>Язык</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}

                <tr>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.dateCreate|date("d-m-Y") }}</td>
                    <td>
                        {{ entity.locale }}
                    </td>
                    <td>
                        <a class="btn btn-primary" title="Просмотр"
                           href="{{ path('admin_news_show', { 'id': entity.id }) }}">
                            <i class="fa fa-eye"></i> Просмотр
                        </a>
                        <a class="btn btn-info" title="Редактировать"
                           href="{{ path('admin_news_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span> Редактировать
                        </a>
                    </td>
                </tr>

            {% endfor %}

            <tfoot>
            <tr>
                <th>Название</th>
                <th>Дата</th>
                <th>Язык</th>
                <th>Действия</th>
            </tr>
            </tfoot>
        </table>
        {% if (entities != null) %}
            <div class="pages">
                {{ knp_pagination_render(entities) }}
            </div>
        {% endif %}

    </div><!-- /.box-body -->

{% endblock %}