{% extends 'WebsiteAdminBundle:Base:show.html.twig' %}

{% block titleShow %}{{ entity.title }}{% endblock %}

{% block box %}
    <table class="table">
        <tr>
            <th>Название:</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Дата:</th>
            <td>{{ entity.dateCreate|date("d-m-Y H:i:s") }}</td>
        </tr>
        <tr>
            <th>Язык:</th>
            <td>
                {{ entity.locale }}
            </td>
        </tr>
        <tr>
            <th>Контент:</th>
            <td>
                {{ entity.description|raw }}
            </td>
        </tr>
        <tr>
            <th>URL:</th>
            <td>
                {{ entity.slug }}
            </td>
        </tr>
        <tr>
            <th>Картинка:</th>
            <td>
                {% if entity.photo!=null %}
                    <img style="width:650px" src="https://cdn1.nika.com/upload/news/{{ entity.photo }}"/>
                    {#<img style="width:650px" src="{{ entity.photo }}"/>#}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Загрузить изображение</th>
            <td>
                <form class="module__account-side__form" action="https://cdn1.nika.com/upload.php" method="post"
                      enctype="multipart/form-data">
                    <input style="float:left" name="image" type="file" data-avatar-upload/>
                    <input name="news" type="hidden" value="{{ entity.id }}"/>
                    <input name="locale" type="hidden" value="{{ entity.locale }}"/>
                    <input name="path" type="hidden" value="/admin/news/show/{{ entity.id }}"/>
                    <input name="type" type="hidden" value="news"/>
                    {% if entity.photo!=null %}
                        <input name="img" type="hidden" value="{{ entity.photo }}"/>
                    {% endif %}

                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ban-circle"></span>
                        Загрузить
                    </button>
                </form>
            </td>
        </tr>

        <tr>
            <th>Действия:</th>
            <td>
                <a class="btn btn-primary" title="Вернуться к списку" href="{{ path('admin_news') }}">
                    <span class="glyphicon glyphicon-arrow-left"></span> Вернуться
                </a>
                <a class="btn btn-info" title="Редактировать" href="{{ path('admin_news_edit',{'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> Редактировать
                </a>
                <form class="btn" action="{{ path('admin_news_delete',{'id': entity.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-ban-circle"></span>
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    </table>

{% endblock box %}
